.button, .bg{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-insets: 0;
    -fx-text-fill: black;
}
.button {
    -fx-background-color: #149921;
}
.bg {
    -fx-background-color: grey;
}
.button:focused {
    -fx-background-color: #2fc43e;
}
.button:hover {
    -fx-background-color: #2fc43e;
}
.button:pressed {
    -fx-background-color: #67db73;
}
.label {
    -fx-text-fill: black;
}